page-home {

}
.slides {
    margin:auto;
    width: 320px;
    height: 200px;
    text-align: center;
}

.judulkategori {
    padding: 2px;
    margin-right: 100px;
    margin-left: 100px;
    border: 2px solid gray;
    border-radius: 10px;
    font-family: "arial";
    font-size: 18px;
    font-variant: small-caps;
}

.tombolkategori {
    height:25px;
    width:130px;
}

.caritoko {
    height:25px;
    width:110px;
    
}
