<!--
  Generated template for the TokosearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar color="primary">
      <ion-toolbar>
        <ion-searchbar [(ngModel)]="query" placeholder="Cari Produk" #searchbar (ionInput)="cariproduk()"></ion-searchbar>
      </ion-toolbar>
    </ion-navbar>
    <!--<ion-list *ngIf="items.length > 0">
      <ion-item *ngFor="let item of items" (touchstart)="pilihproduk(item)"><b>{{item.namaproduk}} </b>di Kategori <b>{{item.kategoriproduk.namakategori}}</b></ion-item>
    </ion-list>-->
  </ion-header>
  
  
  <ion-content>
  <ion-card style="margin-top:10px" *ngIf="items2.length > 0">
      <ion-list class="kategori-list">
          <ion-row>
              <ion-col *ngFor="let item2 of items2" col-6>
                  <p align="center"><img src="http://localhost:8000/fotoupload/{{item2.foto}}"></p>
                  <h2><b>{{item2.namaproduk}}</b></h2>
                  <h3>Stok : {{item2.stok}}</h3>
                  <h3>Rp. {{item2.harga}},-</h3>
                  <ion-buttons>
                      <button ion-button block (click)="tombolbeli(item2)">Beli</button>
                  </ion-buttons>
              </ion-col>       
          </ion-row>
      </ion-list>
  </ion-card>
  </ion-content>
  