page-keranjang {

}

.thumbnail-container {
    height: 120px;
    width: 300px;
}

.thumbnail-picture-container {
    margin: 2px;
    width: 140px;
}
.thumbnail-picture {
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

.nama-produk {

}

.delete {
    margin-right: -10px;
    margin-top: 5px;
}
