<ion-menu [content]="content">
  <ion-header>
    <ion-item color="primary">
      <ion-avatar round>
        <img class="avatar-depan" style= "height: 100px;width: 100px" src="assets/img/person3.jpeg" >
      </ion-avatar>
        
      <ion-toolbar color="primary">
        <ion-title><p *ngFor="let user of warga" style="text-align:center;font-size: 18px" >{{ user.nama }}</p></ion-title>
      </ion-toolbar>
    </ion-item>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item icon-left *ngFor="let p of pages" (click)="openPage(p)">
        <i class="fa fa-{{p.icon}} {{p.position}} {{p.color}}" aria-hidden="true" style="padding-right:15px;font-size:20px"></i>
        {{p.title}}
      </button>
    </ion-list>

    <ion-footer>
         <button menuClose ion-item icon-left position="bottom" (click)="tomboltoko()" *ngIf="level == 'toko'">
          <i class="fa fa-building iconprimary" aria-hidden="true" style="padding-right:15px;font-size:20px;margin-left:5px"></i>
          Toko Saya</button>
          <button menuClose ion-item icon-left position="bottom" (click)="daftartoko()" *ngIf="level == 'warga'">
          <i class="fa fa-building iconprimary" aria-hidden="true" style="padding-right:15px;font-size:20px;margin-left:5px"></i>
          Buat Toko</button>
    </ion-footer>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>