<!--
  Generated template for the PembelianPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
  <ion-navbar color="primary">
    
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    
    <ion-title style="margin-left: -15px">Detail Pembelian</ion-title>
        
  </ion-navbar>
    
</ion-header>
    
    
<ion-content>
  <ion-list>
    <ion-item-group>

      <ion-item-divider color="light" style="height: 35px" *ngFor="let item2 of items.koleksi2">{{item2.tanggal}}
        <ion-badge *ngIf="item2.status == 'order'" color="primary" item-end>Order</ion-badge>
        <ion-badge *ngIf="item2.status == 'kirim'" color="pending" item-end>Dikirim</ion-badge>
        <ion-badge *ngIf="item2.status == 'selesai'" color="secondary" item-end>Sukses</ion-badge>
      </ion-item-divider>
    
      <ion-card class="pembelian-container" *ngFor="let item of items.koleksi">
        
        <ion-row no-padding>  
          <ion-col class="pembelian-col-x">             
            <img src="http://forkomperbekelbali.com/desa/public/fotoupload/{{item.produktoko.foto}}" class="pembelian-picture-item">
          </ion-col>
    
          <ion-col class="pembelian-col-y">
            <h2><b>{{item.produktoko.namaproduk}} #{{item.produktoko.kodeproduk}}</b></h2>
            <br>
            <h3>Jumlah :<b>{{item.jumlah}}</b></h3>
            <h3>Total Harga :<b> Rp {{ item.jumlah * item.produktoko.harga }},-</b></h3>
          </ion-col>      
        </ion-row>

      </ion-card>
    </ion-item-group>
  </ion-list>
</ion-content>

<ion-footer style="text-align:center">
  <h6 *ngFor="let item2 of items.koleksi2">Total Pembayaran : <b>Rp {{ item2.subtotal }},-</b></h6>
</ion-footer>
    