<!--
  Generated template for the PembelianPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
<ion-navbar color="primary">
  
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  
  <ion-title style="margin-left: -15px">Pembelian</ion-title>
      
</ion-navbar>
  
</ion-header>
  
  
<ion-content>

<ion-list *ngFor="let item of items">
  <ion-item-group> 
    <ion-item-divider color="light" style="height:25px">{{item.tanggal}}
      <ion-badge *ngIf="item.status == 'order'" color="primary" item-end>Order</ion-badge>
      <ion-badge *ngIf="item.status == 'kirim'" color="pending" item-end>Dikirim</ion-badge>
      <ion-badge *ngIf="item.status == 'selesai'" color="secondary" item-end>Sukses</ion-badge>
    </ion-item-divider>
     
    <button ion-item style="margin-top: -20px; height: 75px" (click)="pembeliandetail()">
      <ion-item>
        <h5>Kode Transaksi : <b>#{{item.id}}</b></h5>
        <h5>Total Pembayaran : <b>Rp {{item.subtotal}},-</b></h5>
      </ion-item>
    </button>
  </ion-item-group>
</ion-list>

</ion-content>
  