page-pembelian {

}

.toolbar-style {
    height: 30px;
    margin-top: -10px;
    margin-left: -15px;
}

.sub-placeholder {
    width: 40% !important;
    height: 30px;
    margin-top: -8px;
    text-align: center;
    border-bottom: 0px;
}

.margin-placeholder {
    margin-top: 4px;
}

.filter-placeholder {
    width: 60% !important;
    height: 30px;
    margin-top: -8px;
    margin-right: -15px;
    text-align: center;
}