page-setting {

}

.produk-container {
    height: 250px;
    text-align: center;
}

.gambar-produk {
    height: 130px;
    background-size: cover;
}

.produk-button {
    height: 20px;
    width: 20px;
    text-transform: none;
}