page-setting {

}

.produk-container {
    width: 150px !important;
    height: 250px;
}

.gambar-produk {
    height: 130px;
}

.produk-button {
    height: 20px;
    width: 20px;
    text-transform: none;
}