page-kategori {

}

.iconkategori {
    padding-right: 14px;
    font-size: 20px;
}

.namakategori {

}

.toolbar-style {
    height: 30px;
    margin-top: -10px;
    margin-left: -15px;
}

.sub-placeholder {
    width: 60%;
    height: 30px;
    margin-top: -8px;
    text-align: center;
}

.margin-placeholder {
    margin-top: 4px;
}

.filter-placeholder {
    width: 40%;
    height: 30px;
    margin-top: -8px;
    margin-right: -15px;
    text-align: center;
}