page-kategori {

}

.iconkategori {
    padding-right: 14px;
    font-size: 20px;
}

.toolbar-style {
    min-height: 45px !important;
    margin-top: 0px;
}

.sub-placeholder {
    width: 60% !important;
    margin-top: -25px;
    text-align: center;
}

.margin-placeholder {
    margin-top: 4px;
}

.filter-placeholder {
    width: 40% !important;
    margin-top: -25px;
    text-align: center;
}